
\.gradle/4\.4/fileChanges/

\.gradle/4\.4/fileHashes/

\.gradle/4\.4/taskHistory/

\.gradle/buildOutputCleanup/

\.idea/caches/

\.idea/codeStyles/

\.idea/libraries/

\.idea/

*.iml

local\.properties

\.gradle/4\.4/fileContent/

\.gradle/4\.4/javaCompile/

\.DS_Store
